// @import "@/styles/components/CustomCheckBox";
//@import "@/styles/_utils.scss";mobile //*변수파일 import*/
@include mobile {
  input {
    width: 100%;
    background-color: $main_blue;
  }
}
@include tablet {
  input {
    width: 100%;
    // background-color: $green;
  }
}

@include desktop {
  input {
    width: 100%;
    background-color: $main_ivory;
  }
}
.input_wrap {
  display: flex;
}
input {
  width:100%;
  height: 100%;
  box-sizing: border-box;
}
textarea {
  width:100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
  border:none

}
