.join_wrap {
  border: 1px solid red;
  display: flex;
  .join_inner_wrap {
    width: 100%;
    .join_item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        flex: 1;
      }
      p {
        text-align: center;
        padding: 2vw;
      }
      display: flex;
      p.join_value_item_wrap {
        display: flex;
        width: 70%;
        .join_value_item {
          width: 100%;
        }
      }
    }
  }
}
