@font-face {
  font-family: "NotoSans-Black";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Noto_Sans/NotoSans-Black.ttf");
  font-display: swap;
}
@font-face {
  font-family: "NotoSans-ExtraLight";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Noto_Sans/NotoSans-ExtraLight.ttf");
  font-display: swap;
}
@font-face {
  font-family: "NotoSans-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Noto_Sans/NotoSans-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "NotoSans-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Noto_Sans/NotoSans-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "NotoSans-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Noto_Sans/NotoSans-Regular.ttf");
  font-display: swap;
}
