@import "@/styles/_utils.scss";
.modal_wrap {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  color: black;
  .modal_inner_wrap {
    width: 40vw;
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .type_wrap {
      width: 100%;
      background-color: gray;
      display: flex;

      flex-basis: 10%;
      justify-content: space-between;
      align-items: center;
      // position: absolute;
      // top: 0;
      // left: 0;
    }
    .content_wrap {
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}
